

#body {
    background-size: 100%;
}


body { 
    background-color: rgb(236, 232, 226);
}




/*auth*/
.auth-container { 
    margin-top: 5em;
    padding: 2em;
    border: 1px solid #e5e5e5;
    border-radius: 0.4em;
    box-shadow: 2px 4px 20px #f0f0f0;
}
​
.login-col {
    border-left: 1px solid black;
}

.creategame {
    float: left;
    width: 40%;
}

.findgame {
    float: left;
    width: 5%;
}

#navbutton {
    float: left;
    border-radius: 10%;
}

/*navbar*/
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c99d72;
    width: 100%;
   }

#navtextcolor {
    color: white;
}

 /*footer*/
   .foot {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c99d72;;
    width: 100%;
   }

#foottextcolor {
    color: black;
}

   /* Sidebar */
.sidebar-list-styling {
    padding-left: 50px;
    padding-top: 15px;
    width: 20%;
    background-color: rgb(227, 230, 229);
    color: white;
    height: 100%;
  }
  
 .sidebar-list a {
    color: black;
    padding: 0;
  } 

  .sidebar-route {
    flex: 1;
    padding: "00px";
  }

#maintext {
    text-align: center;
}



       